<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   

   
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/general_foundicons.css" rel="stylesheet" />
    <link href="~/Content/dashboard_layout.css" rel="stylesheet" />
    <link href="~/Content/overlaypopup.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/CommonFunctions.js"></script>

   
</head>


<body data-scrolling-animations="true">

    <header>
        <div class="common-box">
            <div class="left-box">
              
                    <div class="soft-info">

                        <h1>
                            Floor Plan Financing

                        </h1>
                        <small><strong> Management Software </strong></small>
                    </div>

                

            </div>

            <div class="box">

                <div class="signout"><span>
                    @Html.ActionLink("LOG OUT", "UserLogin", "Login", null, new { @class = "show-logout-popup", @data_showpopup = "5" })
                    <span class="icon-exit"></span></span></div>

                <div>
                    @{
                        Html.RenderAction("UserRequestAns", "UserManagement");
                    }
                </div>

                <div><span class="tooltip icon-film "><span class="tooltiptext ved" >
    Watch Video
</span></span></div>

                <!---->

              
                    <!---->


</div>




        </div>

    </header>

    <div class="container-fluide">


        <div>
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="bottom-bar">
            <div class="small-space">
                <div class="clr-prt1">

                </div>
                <div class="clr-prt2">

                </div>
            </div>

            <div class="cmd-bar">
                <div class="cmd-skew-bar">

                    <div class="footer-info">

                        <h3>Dealer Floor Plan Management Software</h3>
                        <div>
                            <div>
                                <span>Support (800) ###-####</span>
                                <div class="hor-sp"></div>
                                <span style="margin-left:30px;margin-top:10px;">Hours: 8am-6pm Central</span>
                            </div>

                            <div>
                                <span>Billing (800) ###-####</span>
                                <div class="hor-sp"></div>
                                <span style="margin-left:30px;margin-top:10px;">Hours: 9am-5pm Central</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div>
                    @{
                        Html.RenderAction("UserRequestMessage", "UserManagement");
                    }
                </div>
                
            </div>

        </div>

    </footer>

    
</body>
</html>
