<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   

   
    <link href="~/Content/general_foundicons.css" rel="stylesheet" />

    <link href="~/Content/dashboard_layout.css" rel="stylesheet" />
   
</head>


<body data-scrolling-animations="true">

    <header>
        <div class="common-box">
            <div class="left-box">
              
                    <div class="soft-info">

                        <h1>
                            Floor Plan Financing

                        </h1>
                        <small><strong> Management Software </strong></small>
                    </div>

                

            </div>

            <div class="box">

                <div class="signout"><span><a href="#"><strong>LOG OUT&nbsp;</strong><span class="icon-exit"></span></a></span></div>

                <div class="tooltips"><span class="icon-earth"></span><p class="tools">Notifications</p></div>

                <div><span class="icon-film"></span></div>




            </div>




        </div>

    </header>
    <div class="container-fluid">


        @*
            <div class="container-child">

                <div class="dsh">
                    <div class="img-name-panel">
                        <div>
                            <div>
                                <div>
                                    <img alt="image" class="img-circle" src="~/Images/profile_small.jpg">
                                </div>
                            </div>
                            <div style="margin-top:5px">

                                    <span>User Name</span>

                            </div>
                        </div>
                    </div>

                    <div class="cmp-name-panel">
                        <div>
                            <div>
                                <span>Company - Branch</span>
                            </div>

                            <div style="margin-top:10px">
                                <span>Position</span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="fpm"></div>
                <div class="md"></div>
                <div class="setp"></div>


            </div>
        *@









        <div>
            @RenderBody()
        </div>
    </div>
    <footer>
        <div class="bottom-bar">
            <div class="small-space">
                <div class="clr-prt1">

                </div>
                <div class="clr-prt2">

                </div>
            </div>

            <div class="cmd-bar">
                <div class="cmd-skew-bar">

                </div>

            </div>

        </div>

    </footer>
</body>
</html>
