<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <style>
        .container-fluid{
            max-width:1096px;
            width:100%;
            margin:auto;
        }

    </style>
</head>


<body data-scrolling-animations="true">

    <header>
        <div class="container-fluid">

            <div class="page-header">

                <h1>
                    Example page header
                    <small>Subtext for header</small>
                </h1>

            </div>
            <p>This is a sample text.This is a sample text.This is a sample text. This is a sample text.</p>


        </div>

    </header>

    <div>
        @RenderBody()
    </div>
</body>
</html>
