@model BankLoanSystem.Models.DashBoard

<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-circle" src="~/Images/profile_small.jpg">
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">@Model.userName</strong>
                </span> <span class="text-muted text-xs block">Company Employee<b class="caret"></b></span>
            </span>
        </a>

        <ul class="dropdown-menu animated fadeInRight m-t-xs">

            <li class="divider"></li>
            <li>@Html.ActionLink("Log out", "EmployeeLogin", "Login", null, null)</li>
        </ul>
    </div>
    <div class="logo-element">
        TFN
    </div>
</li>
<li class="active">
    <a href="#"><span class="glyphicon glyphicon-th-large" style="margin-right: 2px;"></span> <span class="nav-label">Activities</span> <span class="caret arrow" style="margin-top: 5px;"></span></a>
    <ul class="nav nav-second-level collapse in">

            <li>
                @Html.ActionLink("Create Company", "SearchUsers", "DashBoard", new { index = 7 }, null)
            </li>
      

    </ul>
</li>















