<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TFN Application</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/overlaypopup.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/CommonFunctions.js"></script>
  

    <style>
        .input-validation-error {
            border: 1px solid #ff0000;
        }

        .valid {
            border: 1px solid green;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .input-validation-error {
            border: 1px solid #ff0000;
        }


        .overlay-content {
        top: 14%;
        width: 600px;
        text-align: center;
    }

    .validation-summary {
        display: none;
    }

        .validation-summary.validation-summary-errors {
            display: block;
        }

            .validation-summary.validation-summary-errors > ul {
                display: none;
            }
    </style>
</head>

<body>

    <div>
        @RenderBody()
    </div>
    <p class="text-center"> </p>
</body>
</html>


