<span>
    <img alt="image" class="img-circle" src="./INSPINIA _ Dashboard v.3_files/profile_small.jpg">
</span>
<a data-toggle="dropdown" class="dropdown-toggle" href="http://webapplayers.com/inspinia_admin-v2.4/dashboard_3.html#">
    <span class="clear">
        <span class="block m-t-xs">
            <strong class="font-bold">@ViewBag.UserName</strong>
        </span> <span class="text-muted text-xs block">@ViewBag.UserType<b class="caret"></b></span>
    </span>
</a>
