
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Support</title>
    <script src="~/scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div> 

        @{
            // checking browser combatability

            HttpBrowserCapabilitiesBase objBrwInfo = Request.Browser;

            // pass the type and version.
            string BrowserType = objBrwInfo.Type;
            int MajorVersion = objBrwInfo.MajorVersion;

            if ((BrowserType.ToUpper().Contains("FIREFOX") && MajorVersion < 24))
            {
                // remove
                <span>You are currently using Firefox version @MajorVersion. This version of Firefox is not supported. Please install the latest version to access the program. Download the latest version <a href="https://www.mozilla.org/en-US/firefox/new/?scene=2#download-fx">here</a></span>

            }
            else if ((BrowserType.ToUpper().Contains("CHROME") && MajorVersion < 5))
            {
                <span>You are currently using Google Chrome version @MajorVersion. This version of Google Chrome is not supported. Please install the latest version to access the program. Download the latest version <a href="https://www.google.com/chrome/browser/desktop/index.html">here</a> </span>
            }
            else if ((BrowserType.ToUpper().Contains("INTERNETEXPLORER") && MajorVersion < 10))
            {
                <span>You are currently using Internet Explorer version @MajorVersion. This version of Internet Explorer is not supported. Please install the latest version to access the program. Download the latest version <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">here</a></span>
            }
            else if (BrowserType.ToUpper().Contains("INTERNETEXPLORER") && MajorVersion > 10)
            {
                <script>
            var version = navigator.userAgent;
                if (version.toUpperCase().indexOf("RV:")> -1 || version.toUpperCase().indexOf("MSIE 10.0") > -1) {
                    // allow
                    window.location.href = "/Login/UserLogin";

                } else {
                    // remove all
                    //alert("don't allow");
                    //$('html').text('');
                    $('body div').append(' <span>This version of Internet Explorer is not supported. Please install the latest version to access the program. Download the latest version <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">here</a></span>');
                }

                </script>

            }
            else if (!((BrowserType.ToUpper().Contains("FIREFOX") && MajorVersion > 24) || (BrowserType.ToUpper().Contains("CHROME") && MajorVersion > 5) || (BrowserType.ToUpper().Contains("INTERNETEXPLORER") && MajorVersion > 10)))
            {
                <span>You are currently using @BrowserType browser. This browser is not supported. Please install one of the following browsers to access the program.<br />
                 Download Google Chrome <a href="https://www.google.com/chrome/browser/desktop/index.html">here</a> <br />
                 Download Firefox <a href="https://www.mozilla.org/en-US/firefox/new/?scene=2#download-fx">here</a> <br />
                 Download Internet Explorer <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">here</a>
                </span>
            }
            else if((BrowserType.ToUpper().Contains("FIREFOX") && MajorVersion > 24) || (BrowserType.ToUpper().Contains("CHROME") && MajorVersion > 5) || (BrowserType.ToUpper().Contains("INTERNETEXPLORER") && MajorVersion > 10))
            {
                <script>
                    window.location.href = "/Login/UserLogin";
                </script>
            }
        }
    </div>
</body>
</html>
