@{ 

    Layout = null;
}
<div class="top-bar">
    <div class="profile-elements ">

        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg"><br>





        <span class="block"><strong>@ViewBag.Username</strong></span>
        @if (ViewBag.roleId != 1)
        {
            <span> - </span>
            <span><strong>@ViewBag.Branch</strong></span>
        }
        





    </div>

    <a class="btn btn-info" href=""><strong>Sign out</strong></a>


    <h2>Advance Unit</h2>




</div>

<div class="centered">
    <h5><span class="label label-danger">Danger Label</span></h5>
</div>

<div class="info">
    @ViewBag.loanCompanyType : @ViewBag.loanBranchName
</div>
