@model IEnumerable<BankLoanSystem.Models.Right>


<link href="~/Content/overlaypopup.css" rel="stylesheet" />
<script src="~/scripts/popup.js"></script>

   


<div class="overlay-bg">
</div>
<div class="overlay-content popup1">
    

    @{
        Html.RenderAction("Selectloan", "UserManagement");
    }
    <button class="close-btn btn btn-info" style="clear: both;float: right;padding:6px 12px">Close</button>
</div>
<div class="overlay-content popup2">
    <p>This is the content for Popup #2</p>
    <button class="close-btn">Close</button>
</div>
<div class="overlay-content popup3">
    <p>This is the content for Popup #3</p>
    <button class="close-btn">Close</button>
</div>


@foreach (var item in Model)
{



    if (item.rightId == "U001")
    {
        @Html.ActionLink("Advance", "UserLogin", "Login", null, new { @class = "btn btn-info", @id = "lkadv" })
    }

    if (item.rightId == "U002")
    {
        @Html.ActionLink("Title", "UserLogin", "Login", null, new { @class = "btn btn-info", @id = "lkttl" })
    }

    if (item.rightId == "U003")
    {
        @Html.ActionLink("Pay Off", "UserLogin", "Login", null, new { @class = "btn btn-info", @id = "lkpoff" })
    }

    if (item.rightId == "U004")
    {
        @Html.ActionLink("Add a Unit", "Selectloan", "UserManagement", null, new { @class = "btn btn-info show-popup", @id = "lkuni" , @data_showpopup = "1" })
    }



}

<style>


    .btn-info{

        margin-left:20px;
    }
</style>