@model IEnumerable<BankLoanSystem.Models.LoanSetupStep1>
@{ 
    string actoinName = "";
    string controllerName = "";
}

@if (ViewBag.type == "AddUnit")
{
    actoinName = "addunit";
    controllerName = "unit";
}else if(ViewBag.type == "Advance")
{
    actoinName = "Advance";
    controllerName = "AdvanceUnit";
}

<li><h5>Loan Number</h5></li>
@foreach (var item in Model)
{

    if (item.LoanStatus)
    {
        //@Html.ActionLink(modelItem => item.loanNumber)
        

        <li>@Html.ActionLink(item.loanNumber, "setLoanCode", controllerName, new { loanCode = item.loanCode }, new { @class = "" }) </li>

    }


}


