@model BankLoanSystem.Models.LoanSelection

@{
    string actoinName = "";
    string controllerName = "";
}

@if (ViewBag.type == "AddUnit")
{
    actoinName = "addunit";
    controllerName = "unit";
}
else if (ViewBag.type == "Advance")
{
    actoinName = "Advance";
    controllerName = "AdvanceUnit";
}

else if (ViewBag.type == "Curtailment")
{
    actoinName = "PayCurtailments";
    controllerName = "Curtailments";
}

else if (ViewBag.type == "PayOff")
{
    actoinName = "PayOff";
    controllerName = "UnitPayOff";
}

else if (ViewBag.type == "Title")
{
    actoinName = "TitleStatusUpdate";
    controllerName = "UnitTitle";
}
else if (ViewBag.type == "DashBoard")
{
    actoinName = "UserDetails";
    controllerName = "UserManagement";
}
<div id="branch-panel">
    <div class="h-panel">
        <ul>
            <li><h5>Partner Branch Name</h5></li>
            @if (Model.NonRegBranchList != null)
            {
                if (Model.NonRegBranchList.Count() == 0)
                {
                    <span class="text-danger"> No Patners Found</span>
                }
                if (Model.NonRegBranchList.Count() == 1)
                {
                    <li class="active">
                        <a>@Model.NonRegBranchList[0].CompanyNameBranchName </a>


                    </li>
                }
                else {
                    foreach (var item in Model.NonRegBranchList)
                    {
                        <li>
                            @*<a>@item.BranchName</a>*@
                            @Ajax.ActionLink(item.CompanyNameBranchName, "GetLoansByNonRegBranchId", "UserManagement", new { NonRegBranchId = item.NonRegBranchId, type = ViewBag.type }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "loan-panel", LoadingElementId = "loadingDiv" }, new { @class = "b" })
                        </li>
                    }
                }
            }
        </ul>

    </div>
    @{var c = 0; }
    <div class="h-panel">

        <ul id="loan-panel">
            <li><h5>Loan Number</h5></li>
            @if (Model.LoanList != null)
            {
                if (Model.NonRegBranchList.Count()== 1 && Model.LoanList.Count() == 0)
                {
                    <span class="text-danger"> No Loans Found</span>
                }
                else {
                foreach (var item in Model.LoanList)
                {

                   
             //       if (item.LoanStatus)
              //      {
                        //@Html.ActionLink(modelItem => item.loanNumber)
                        c++;

                        <li>@Html.ActionLink(item.loanNumber, "setLoanCode", controllerName, new { loanCode = item.loanCode }, new { @class = "b" }) </li>

               //         }



                    }

                    if (c == 0 && Model.LoanList.Count() != 0)
                    {
                        <span class="text-danger"> No Active Loans Found</span>
                    }


                }
            }
        </ul>

    </div>
</div>

<script>

    $("a").click(function () {

        $(this).parent('li').addClass('active').siblings().removeClass('active');
    });

    $(".h-panel ul li").children('.b').append("<span class='glyphicon glyphicon-chevron-right' style='float:right'></span>");



</script>
