@model IEnumerable<BankLoanSystem.Models.NonRegBranch>
@{
    string actoinName = "";
    string controllerName = "";
}

@if (ViewBag.type == "AddUnit")
{
    actoinName = "addunit";
    controllerName = "unit";
}
else if (ViewBag.type == "Advance")
{
    actoinName = "Advance";
    controllerName = "AdvanceUnit";
}
else if (ViewBag.type == "DashBoard")
{
    actoinName = "UserDetails";
    controllerName = "UserManagement";
}
else if (ViewBag.type == "linkDealer")
{
    actoinName = "LinkDealer";
    controllerName = "UserManagement";
}
else if (ViewBag.type == "assignRights")
{
    actoinName = "assignRights";
    controllerName = "CreateDealer";
}
else if (ViewBag.type == "RenewLoan")
{
    actoinName = "RenewLoan";
    controllerName = "UserManagement";
}
else
{
    <text>$(location).attr('href', '/Unit/setLoanCode?loanCode=""');</text>
}
<div class="h-panel">
    <ul>
        @if (Model != null)
        {
            <li><h5>Branch Name</h5></li>
            if (Model.Count() == 1)
            {
                foreach (var item in Model)
                {
                    <li class="active">
                        <a>item.CompanyNameBranchName </a>
                    </li>
                }

            }
            else {
                foreach (var item in Model)
                {
                    <li>
                        @*<a>@item.BranchName</a>*@
                        @Ajax.ActionLink(item.CompanyNameBranchName, "GetLoansByNonRegBranchId", "UserManagement", new { NonRegBranchId = item.NonRegBranchId , type = ViewBag.type }, new AjaxOptions { OnFailure = "handleError", HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "loan-panel", LoadingElementId = "loadingDiv" }) 
                    </li>
                }
            }
        }
    </ul>

</div>

<div class="h-panel">

    <ul id="loan-panel">
        
        @if (Model.Count() == 1)
        {
            { Html.RenderAction("GetLoansByNonRegBranchId", "UserManagement", new { NonRegBranchId = Model.Last().NonRegBranchId, type = ViewBag.type }); }
        }
        else
        {
            <li><h5>Loan Number</h5></li>
        }
      
    </ul>

</div>