
@model IEnumerable<BankLoanSystem.Models.UserRequest>
@{
    ViewBag.Title = "UserRequestAns";
}

<span class="tooltip icon-envelope4" id="displaymessage">
    <span class="tooltiptext notf">
        Notifications
    </span>
    @if (ViewBag.Anscount> 0)
    {
        <span id="message_count">@ViewBag.Anscount</span>
    }
    @if (Model != null)
    {
        <div id="messageContainer">
            <div id="messageTitle">Notifications</div>
            <div id="messageBody">
                @{
                    foreach (var item in Model)
                    {
                        <div class="messagediv">@item.answer</div>
                    }
                }

            </div>
        </div>
                    }
  

</span>



<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
$(document).ready(function()
{
    $("#displaymessage").click(function ()
{
$("#messageContainer").fadeToggle(300);
$("#message_count").fadeOut("slow");

            $.ajax({
                url: '@Url.Action("UserRequestAns", "UserManagement")',
                type: 'POST',


                success: function (partialView) { 
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Your handler here...

                    // if session expires
                    if (jqXHR.status == "404") {
                        window.location.href = '/Login/UserLogin?lbl=Due to inactivity your session has timed out, please log in again.';
                    }
                }
            });

return false;
});

//Document Click
$(document).click(function()
{
    $("#messageContainer").hide();
});
//Popup Click
$("#messageContainer").click(function ()
{
return false
});

});
</script>








