
@model IEnumerable<BankLoanSystem.Models.UserRequest>
@{
    ViewBag.Title = "UserRequestAns";
}

<span class="tooltip icon-earth" id="displaymessage">
    <span class="tooltiptext notf">
        Notifications
    </span>
    @if (ViewBag.Anscount> 0)
    {
        <span id="message_count">@ViewBag.Anscount</span>
    }
    <div id="messageContainer">
        <div id="messageTitle">Notifications</div>
        <div id="messageBody">
            @{
                foreach (var item in Model)
                {
                    <div class="messagediv">@item.answer</div>
                }
            }

        </div>
    </div>

</span>



<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
$(document).ready(function()
{
    $("#displaymessage").click(function ()
{
$("#messageContainer").fadeToggle(300);
$("#message_count").fadeOut("slow");

            $.ajax({
                url: '@Url.Action("editViewRequestAns", "UserManagement")',
                type: 'POST',


                success: function (partialView) { 
                }
            });

return false;
});

//Document Click
$(document).click(function()
{
    $("#messageContainer").hide();
});
//Popup Click
$("#messageContainer").click(function ()
{
return false
});

});
</script>
<style>
    #messageContainer {
        background-color: #fff;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        overflow: visible;
        position: absolute;
        top: 30px;
        margin-left: -170px;
        width: 400px;
        z-index: 10;
        display: none;
        text-align: left;
    }

        #messageContainer:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            color: transparent;
            border: 10px solid black;
            border-color: transparent transparent white;
            margin-top: -20px;
            margin-left: 188px;
        }

    #messageTitle {
        z-index: 1000;
        font-weight: bold;
        padding: 8px;
        font-size: 15px;
        background-color: #ffffff;
        width: 384px;
        border-bottom: 1px solid #dddddd;
        color:#000000;
    }

    #messageBody {
        padding: 5px 0px 0px 0px !important;
        min-height: 50px;
        color:#000000;
    }

    #message_count {
        padding: 3px 7px 3px 7px;
        background: #cc0000;
        color: #ffffff;
        font-weight: bold;
        /*margin-left: -8px;*/
        border-radius: 9px;
        position: absolute;
        margin-top: -35px;
        font-size: 11px;
    }

    .messagediv {
        width: 100%;
        min-height: 5px;
        max-height: 100px;
        padding: 8px;
        font-size: 14px;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
        line-height:1.4;
    }
</style>







