
@model IEnumerable<BankLoanSystem.Models.UserRequest>
@{
    ViewBag.Title = "UserRequestAns";
}

<span class="tooltip icon-envelope4" id="displaymessage">
    <span class="tooltiptext notf">
        Notifications
    </span>
    @if (ViewBag.Anscount> 0)
    {
        <span id="message_count">@ViewBag.Anscount</span>
    }
    <div id="messageContainer">
        <div id="messageTitle">Notifications</div>
        <div id="messageBody">
            @{
                foreach (var item in Model)
                {
                    <div class="messagediv">@item.answer</div>
                }
            }

        </div>
    </div>

</span>



<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
$(document).ready(function()
{
    $("#displaymessage").click(function ()
{
$("#messageContainer").fadeToggle(300);
$("#message_count").fadeOut("slow");

            $.ajax({
                url: '@Url.Action("editViewRequestAns", "UserManagement")',
                type: 'POST',


                success: function (partialView) { 
                }
            });

return false;
});

//Document Click
$(document).click(function()
{
    $("#messageContainer").hide();
});
//Popup Click
$("#messageContainer").click(function ()
{
return false
});

});
</script>








