
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<style>
    #squares div {
    /* these styles will let the divs line up next to each other
       while accepting dimensions */
    display: block;
    float: left;

    width: 120px;
    height: 120px;
    background: green;

    /* a small margin to separate the blocks */
    margin-right: 5px;
}
</style>
@*
    @{
        Html.RenderAction("DashBoard", "UserManagement");
    }*@

<div style="margin-left:200px" >

    <h2>Floor plan managenment</h2>
    <div id="squares" >
        <div id="1" href="#"><p style="color:white">add a unit</p></div>
        <div id="2" href="#"><p style="color:white">advance a unit</p></div>
        <div id="3" href="#"><p style="color:white">unit curtailments</p></div>
    </div></br></br></br></br></br></br></br></br></br>


    <div id="squares" href="#">
        <div id="1" href="#"><p style="color:white">payoff a unit</p></div>
        <div id="2" href="#"><p style="color:white">Reports</p></div>
        <div id="3" href="#"><p style="color:white">update titles</p></div>
    </div></br></br></br></br></br></br></br></br></br>
    <h2>Manage Details</h2>

    <div id="squares" >
        <div id="1" href="#"><p style="color:white">Edit user</p></div>
        <div id="2" href="#"><p style="color:white">Edit branch</p></div>
        <div id="3" href="#"><p style="color:white">Edit loan</p></div>
        <div id="4" href="#"><p style="color:white">Edit partner</p></div>
        <div id="5" href="#"><p style="color:white">Edit company</p></div>
        <div id="6" href="#"><p style="color:white">Edit user rights</p></div>
        <div id="7" href="#"><p style="color:white">Join Dealer to Lender</p></div>
    </div>
    </br></br></br></br></br></br></br></br></br>

    <h2>Setup</h2>
    <div id="squares" >
        <div id="1" href="#"><p style="color:white">create user</p></div>
        <div id="2" href="#"><p style="color:white">create branch</p></div>
        <div id="3" href="#"><p style="color:white">create loan</p></div>
        <div id="4" href="#"><p style="color:white">create partner</p></div>
    </div>
    </br></br></br></br></br></br></br></br></br>
</div>