
@{
    ViewBag.Title = "Add Unit Report";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<div class="container">
    <div id="reportViewerDiv" hidden>
        <iframe id="ifrmReportViewer" style="height: 650px; width: 100%;" frameborder="1" scrolling="no"></iframe>
    </div>

    <button style="font-size: 14px; width: 100px; margin-top: 7px;" type="button" id="btnPrint" class="btn btn-primary m-b cancel next_clear_button back_back"> Print</button>

</div>

    <script type="text/javascript">
        function ReportCurtailmentInvoice(url) {
            //alert(startDate + ' ' + endDate);
            $('#reportViewerDiv').show();
            var myFrame = document.getElementById('ifrmReportViewer');

            if (myFrame !== null) {

                if (myFrame.src) {
                    //alert(1);
                    myFrame.src = url;
                } else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
                    //alert(2);
                    myFrame.contentWindow.location = url;
                } else {
                    //alert(3);
                    myFrame.setAttribute('src', url);
                }
            }
        }

        $(document).ready(function () {
            var url = "../Reports/RptDivAddUnit.aspx?loanId=" + "@ViewBag.LoanId" + "&userId=" + "@ViewBag.UserId";
            ReportCurtailmentInvoice(url);
        });

        $('#btnPrint').click(function () {
            var url = '/Unit/PrintPage';

            var win = window.open(url, '_blank');
            win.focus();
        });
    </script>

