@model IEnumerable<BankLoanSystem.Models.JustAddedUnit>

@if (Model.Count() != 0) {
<div class="side-panel"  >

    <h5><strong>Just Added Units</strong></h5>
    <div style="overflow-x: hidden;
    overflow-y: scroll;
    height: 181px;">

        <table style="text-align: left;color: #07BB9B;font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;font-size: 90%;width: 93%;">
            <tr>
                <th></th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.isAdvance == true)
                    {
                            <span>*</span>
                        }
                    </td>
                    <td>
                        @(i++).
                    </td>

                    <td >
                        @item.model
                    </td>
                    <td style="text-align:right;">$&nbsp;</td>
                    <td style="text-align:right;">
                        @Convert.ToDecimal(item.advanceAmount).ToString("#,##0.00")
                    </td>
                </tr>
            }

        </table>
    </div>

</div>
}