@model IEnumerable<BankLoanSystem.Models.Right>


<button class="a_demo_three icon-home3" onclick="window.location.href = '/UserManagement/UserDetails'">
    
    DashBoard
</button>

@*@Html.ActionLink("DashBoard", "UserDetails", "UserManagement", null, new { @class = "btn btn-info btn-arrow-right" })*@

@if ((ViewBag.Role == 1) || (ViewBag.Role == 2))
{
    <button id="lkuni" class="a_demo_three icon-automobile" onclick="window.location.href='/Unit/Addunit'">
        
       Add Unit
    </button>
    <button id="lkadv" class="a_demo_three icon-dollar" onclick="window.location.href='/AdvanceUnit/Advance'">
        
        Advance Unit
    </button>
    <button id="lkcrtl" class="a_demo_three icon-coin-dollar" onclick="window.location.href='/Curtailments/PayCurtailments'">
        
       Unit Curtailments
    </button>

    if (ViewBag.ttlAccess == 1)
    {
    <button id="lkttl" class="a_demo_three icon-files-empty" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
        
        Update Titles
    </button>
    }

    <button id="lkpoff" class="a_demo_three icon-banknote" onclick="window.location.href='/UnitPayOff/PayOff'">
        
        Pay Off Unit
    </button>
    if (ViewBag.FeeLB == 1)
    {

        <button id="lkfee" class="a_demo_three icon-credit" onclick="window.location.href='/Fee/PayFees'">
            
           Fees
        </button>
    }
    <button id="lkrep" class="a_demo_three icon-stack" onclick="window.location.href='/Reports/ReportIndex'">
        
        Reports
    </button>
    <button id="lkdeluni" class="a_demo_three icon-bin2" onclick="window.location.href='/DeleteUnit/Delete'">
        
        Delete Unit
    </button>
}
else if ((ViewBag.Role == 3) && (Model.Count() > 0) && (Model != null))
{
    foreach (var item in Model)
    {

        if (item.rightsPermissionString.Contains("U04"))
        {
    <button id="lkuni" class="a_demo_three icon-automobile" onclick="window.location.href='/Unit/Addunit'">
        
        Add Unit
    </button>

        @*@Html.ActionLink("Unit", "addunit", "unit", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkuni" })*@
        }
        if (item.rightsPermissionString.Contains("U01"))
        {
        <button id="lkadv" class="a_demo_three icon-dollar" onclick="window.location.href='/AdvanceUnit/Advance'">
            
            Advance Unit
        </button>
        @*@Html.ActionLink("Advance", "Advance", "AdvanceUnit", null, new { @class = "btn btn-info btn-arrow-right link" , @id="lkadv" })*@
        }
        if (item.rightsPermissionString.Contains("U05"))
        {
    <button id="lkcrtl" class="a_demo_three icon-coin-dollar" onclick="window.location.href='/Curtailments/PayCurtailments'">
        
        Unit Curtailments
    </button>
        @*@Html.ActionLink("Curtailment", "PayCurtailments", "Curtailments", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkcrtl" })*@
        }
        if (item.rightsPermissionString.Contains("U02") && ViewBag.ttlAccess == 1)
        {
        <button id="lkttl" class="a_demo_three icon-files-empty" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
            
            Update Titles
        </button>

        @*@Html.ActionLink("Title", "TitleStatusUpdate", "UnitTitle", null, new { @class = "btn btn-info btn-arrow-right link",   @id = "lkttl" })*@
        }
        if (item.rightsPermissionString.Contains("U03"))
        {
        <button id="lkpoff" class="a_demo_three icon-banknote" onclick="window.location.href='/UnitPayOff/PayOff'">
            
            Pay Off Unit
        </button>
        
        @*@Html.ActionLink("Pay Off", "PayOff", "UnitPayOff", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkpoff" })*@
        }
        if (item.rightsPermissionString.Contains("U07") && (ViewBag.FeeLB == 1))
        {
            <button id="lkfee" class="a_demo_three icon-credit" onclick="window.location.href='/Fee/PayFees'">
                
               Fees
            </button>
        }
        if (item.rightsPermissionString.Contains("U06"))
        {
        <button id="lkrep" class="a_demo_three icon-stack" onclick="window.location.href='/Reports/ReportIndex'">
            
            Reports
        </button>
        }
        if (item.rightsPermissionString.Contains("U08"))
        {
            <button id="lkdeluni" class="a_demo_three icon-bin2" onclick="window.location.href='/DeleteUnit/Delete'">
               
                Delete Unit
            </button>
        }
    }
}
else if (ViewBag.Role == 4)
{
<button id="lkuni" class="a_demo_three icon-automobile" onclick="window.location.href='/Unit/Addunit'">
    
    Add Unit
</button>
<button id="lkrep" class="a_demo_three icon-stack" onclick="window.location.href='/Reports/ReportIndex'">
    
    Reports
</button>

}



