@model IEnumerable<BankLoanSystem.Models.Right>


<button class="big-button" onclick="window.location.href = '/UserManagement/UserDetails'">
    <span class="icon-home3"></span>
    <span class="txt">DashBoard</span>
</button>

@*@Html.ActionLink("DashBoard", "UserDetails", "UserManagement", null, new { @class = "btn btn-info btn-arrow-right" })*@

@if ((ViewBag.Role == 1) || (ViewBag.Role == 2))
{
    <button id="lkuni" class="big-button" onclick="window.location.href='/Unit/Addunit'">
        <span class="icon-automobile"></span>
        <span class="txt">Add Unit</span>
    </button>
    <button id="lkadv" class="big-button" onclick="window.location.href='/AdvanceUnit/Advance'">
        <span class="icon-dollar"></span>
        <span class="txt">Advance Unit</span>
    </button>
    <button id="lkcrtl" class="big-button" onclick="window.location.href='/Curtailments/PayCurtailments'">
        <span class="icon-coin-dollar"></span>
        <span class="txt">Unit Curtailments</span>
    </button>

    if (ViewBag.ttlAccess == 1)
    {
    <button id="lkttl" class="big-button" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
        <span class="icon-files-empty"></span>
        <span class="txt">Update Titles</span>
    </button>
    }

    <button id="lkpoff" class="big-button" onclick="window.location.href='/UnitPayOff/PayOff'">
        <span class="icon-banknote"></span>
        <span class="txt">Pay Off Unit</span>
    </button>
    if (ViewBag.FeeLB == 1)
    {

        <button class="big-button" onclick="window.location.href='/Fee/PayFees'">
            <span class="icon-credit"></span>
            <span class="txt">Fees</span>
        </button>
    }
    <button class="big-button" onclick="window.location.href='/Reports/ReportIndex'">
        <span class="icon-stack"></span>
        <span class="txt">Reports</span>
    </button>
    <button class="big-button" onclick="window.location.href='/DeleteUnit/Delete'">
        <span class="icon-automobile"></span>
        <span class="txt">Delete Unit</span>
    </button>
}
else if ((ViewBag.Role == 3) && (Model.Count() > 0) && (Model != null))
{
    foreach (var item in Model)
    {

        if (item.rightsPermissionString.Contains("U004"))
        {
    <button id="lkuni" class="big-button" onclick="window.location.href='/Unit/Addunit'">
        <span class="icon-automobile"></span>
        <span class="txt">Add Unit</span>
    </button>

        @*@Html.ActionLink("Unit", "addunit", "unit", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkuni" })*@
        }
        if (item.rightsPermissionString.Contains("U001"))
        {
        <button id="lkadv" class="big-button" onclick="window.location.href='/AdvanceUnit/Advance'">
            <span class="icon-dollar"></span>
            <span class="txt">Advance Unit</span>
        </button>
        @*@Html.ActionLink("Advance", "Advance", "AdvanceUnit", null, new { @class = "btn btn-info btn-arrow-right link" , @id="lkadv" })*@
        }
        if (item.rightsPermissionString.Contains("U005"))
        {
    <button id="lkcrtl" class="big-button" onclick="window.location.href='/Curtailments/PayCurtailments'">
        <span class="icon-coin-dollar"></span>
        <span class="txt">Unit Curtailments</span>
    </button>
        @*@Html.ActionLink("Curtailment", "PayCurtailments", "Curtailments", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkcrtl" })*@
        }
        if (item.rightsPermissionString.Contains("U002") && ViewBag.ttlAccess == 1)
        {
        <button id="lkttl" class="big-button" onclick="window.location.href='/UnitTitle/TitleStatusUpdate'">
            <span class="icon-files-empty"></span>
            <span class="txt">Update Titles</span>
        </button>

        @*@Html.ActionLink("Title", "TitleStatusUpdate", "UnitTitle", null, new { @class = "btn btn-info btn-arrow-right link",   @id = "lkttl" })*@
        }
        if (item.rightsPermissionString.Contains("U003"))
        {
        <button id="lkpoff" class="big-button" onclick="window.location.href='/UnitPayOff/PayOff'">
            <span class="icon-banknote"></span>
            <span class="txt">Pay Off Unit</span>
        </button>
        
        @*@Html.ActionLink("Pay Off", "PayOff", "UnitPayOff", null, new { @class = "btn btn-info btn-arrow-right link", @id = "lkpoff" })*@
        }
        if (item.rightsPermissionString.Contains("U007") && (ViewBag.FeeLB == 1))
        {
            <button class="big-button" onclick="window.location.href='/Fee/PayFees'">
                <span class="icon-credit"></span>
                <span class="txt">Fees</span>
            </button>
        }
        if (item.rightsPermissionString.Contains("U006"))
        {
        <button class="big-button" onclick="window.location.href='/Reports/ReportIndex'">
            <span class="icon-stack"></span>
            <span class="txt">Reports</span>
        </button>
        }
        if (item.rightsPermissionString.Contains("U008"))
        {
            <button class="big-button" onclick="window.location.href='/DeleteUnit/Delete'">
                <span class="icon-automobile"></span>
                <span class="txt">Delete Unit</span>
            </button>
        }
    }
}
else if (ViewBag.Role == 4)
{
<button id="lkuni" class="big-button" onclick="window.location.href='/Unit/Addunit'">
    <span class="icon-automobile"></span>
    <span class="txt">Add Unit</span>
</button>
<button class="big-button" onclick="window.location.href='/Reports/ReportIndex'">
    <span class="icon-stack"></span>
    <span class="txt">Reports</span>
</button>

}



