@model BankLoanSystem.Models.LoanPaymentDetails

<div class="side-panel">


    <h5><strong>Loan Details</strong></h5>


    <table class="loandetails" style="text-align: right;
    color: #07BB9B;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;font-size: 100%;">

        <tr>
            <td style="text-align: left;">Amount</td>
            <td style="width: 60px;padding-right:25px;">-</td>
            <td>$@(String.Format("{0:0.00}", Model.Amount))</td>
        </tr>
        <tr>
            <td style="text-align: left;">Used</td>
            <td style="width: 60px;padding-right:25px;">-</td>
            <td>$@(String.Format("{0:0.00}", Model.UsedAmount))</td>
        </tr>

        <tr>
            <td style="text-align: left;">Balance</td>
            <td style="width: 60px;padding-right:25px;">-</td>
            @{
                Model.BalanceAmount = Model.Amount - Model.UsedAmount;
            }
            <td style="text-align:right">$@(String.Format("{0:0.00}", Model.BalanceAmount))</td>
        </tr>

        <tr>
            <td style="text-align: left;">Pending</td>
            <td style="width: 60px;padding-right:25px;">-</td>
            <td>$@(String.Format("{0:0.00}", Model.PendingAmount))</td>
        </tr>
 

            <tr colspan="1" style="width:100%">
                <td style="text-align: left;">Balance After Pending</td>

                <td style="width: 60px;padding-right:25px;">-</td>
                <td>$@(String.Format("{0:0.00}", (Model.BalanceAfterPending = Model.BalanceAmount - Model.PendingAmount)))</td>
            </tr>

           



        </table>
        
        </div>

<style>


    .loandetails {
    border-collapse: collapse;
}

td {
   
       padding-bottom: 0.5em;
}
</style>