
@{
    ViewBag.Title = "ConfirmAccount";
}

@if (@ViewBag.IsError != 1)
{
    <h2>Account activation mail.</h2>

    <p>Your account has been activated</p>
    <br/>
    <text>Click & nbsp;    </text>
    @Html.ActionLink("Here", "UserLogin", "Login")
    <text> &nbsp; to login.    </text>
}

