@model BankLoanSystem.Models.DashBoard
@{
    ViewBag.Title = "SetupDashBoard";
}



<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span> 
@{
    if (Model.step_status > 0)
    {
        <a href="~/UserManagement/UserDetails"><img alt="image" class="img-circle" src="~/Images/profile_small.jpg"></a>
    }
    else
    {
        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg">
    }
}
                    </span> <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"> <strong class="font-bold">@Model.userName</strong> </span> <span class="text-muted text-xs block">
                                @Model.roleName<b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <div style="clear:both;"></div>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs logoutBut">
                        <li>@Html.ActionLink("Log Out", "UserLogin", "Login", null, null)</li>
                    </ul>
                </div>
                <div class="logo-element"> TFN </div>
            </li>

             @if ((Session["dashboard"] == null)) {
             if (Model.step_status == 0 )
             {
            <li class="navig1 company">
                <a href="#" class="companyIco">
                    <span class="nav-label">Company Setup</span><span class="numbers">01</span> <span class="caret arrow" style="margin-top:

5px;"></span>
                </a>
                <ul style="height: 0px;" class="nav nav-second-level collapse">
                    <li>
                        <div class="right_arrw 1"></div>
                        <a href="Step1">Company Details</a>
                        @*@Ajax.ActionLink("Company Details", "Step1", "SetupProcess", new { edit = 1 }, new AjaxOptions
                                           {
                                               OnSuccess = "onAjaxSuccess",
                                               OnFailure =

                            "handleErrorMsg",
                                               HttpMethod = "GET",
                                               InsertionMode = InsertionMode.Replace,
                                               UpdateTargetId = "changeContainer",
                                               LoadingElementId = "loadingDiv"
                                           }, new
                                           {
                                               data_toggle =

                            "tooltip",
                                               title = "Create Company",
                                               @class = "tab 1"
                                           })*@
                    </li>
                    <li>
                        <div class="right_arrw 2"></div>
                        <a href="Step2">Branch Details</a>
                        @*@Ajax.ActionLink("Branch Details", "Step2", "SetupProcess", null, new AjaxOptions
                                           {
                                               OnSuccess = "onAjaxSuccess",
                                               OnFailure = "handleErrorMsg",

                                               HttpMethod = "GET",
                                               InsertionMode = InsertionMode.Replace,
                                               UpdateTargetId = "changeContainer",
                                               LoadingElementId = "loadingDiv"
                                           }, new
                                           {
                                               data_toggle = "tooltip",
                                               title =

                            "Create Company Branches",
                                               @class = "tab 2"
                                           })*@
                    </li>
                </ul>
            </li>

            }
            <li class="navig2 user">
                <a href="#" class="userIco">
                    <span class="nav-label">User Setup</span><span class="numbers">02</span> <span class="caret arrow" style="margin-top:

5px;"></span>
                </a>
                <ul style="height: 0px;" class="nav nav-second-level collapse">
                    <li>
                        <div class="right_arrw 3"></div>
                        <a href="Step3">Create User</a>
                        @*@Ajax.ActionLink("Create User", "Step3", "SetupProcess", null, new AjaxOptions
                                           {
                                               OnSuccess = "onAjaxSuccess",
                                               OnFailure = "handleErrorMsg",
                                               HttpMethod

                            = "GET",
                                               InsertionMode = InsertionMode.Replace,
                                               UpdateTargetId = "changeContainer",
                                               LoadingElementId = "loadingDiv"
                                           }, new
                                           {
                                               @class = "tab 3",
                                               data_toggle = "tooltip",
                                               title

                            = "Create Users"
                                           })*@
                    </li>
                </ul>
            </li>



            <li class="navig3 partner">
                <a href="#" class="partnerIco">
                    <span class="nav-label">Partner Setup</span><span class="numbers">03</span> <span class="caret arrow" style="margin-top:

5px;"></span>
                </a>
                <ul style="height: 0px;" class="nav nav-second-level collapse">
                    <li>
                        <div class="right_arrw 4"></div>
                        <a href="Step4">Partner Company</a>
                    </li>
                    @*@Ajax.ActionLink("Partner Company", "Step4", "SetupProcess", null, new AjaxOptions
                                       {
                                           OnSuccess = "onAjaxSuccess",
                                           OnFailure = "handleErrorMsg",

                                           HttpMethod = "GET",
                                           InsertionMode = InsertionMode.Replace,
                                           UpdateTargetId = "changeContainer",
                                           LoadingElementId = "loadingDiv"
                                       }, new
                                       {
                                           @class = "tab 3",
                                           data_toggle =

                        "tooltip",
                                           title = "Partner Company"
                                       })*@
            
            <li>
                <div class="right_arrw 5"></div>
                <a href="Step5">Partner Branch</a>
                @*@Ajax.ActionLink("Partner Branch", "Step5", "SetupProcess", null, new AjaxOptions
                                   {
                                       OnSuccess = "onAjaxSuccess",
                                       OnFailure = "handleErrorMsg",

                                       HttpMethod = "GET",
                                       InsertionMode = InsertionMode.Replace,
                                       UpdateTargetId = "changeContainer",
                                       LoadingElementId = "loadingDiv"
                                   }, new
                                   {
                                       @class = "tab 3",
                                       data_toggle =

                    "tooltip",
                                       title = "Partner Branch"
                                   })*@
            </li>
        </ul>
        </li>
             }
        <li class="navig4 loan">
            <a href="#" class="loanIco">
                <span class="nav-label">Loan Setup</span><span class="numbers">04</span> <span class="caret arrow" style="margin-top:

5px;"></span>
            </a>
            <ul style="height: 0px;" class="nav nav-second-level collapse">
                <li>
                    <div class="right_arrw 6"></div>
                    <a href="Step6">Loan Details</a>

                    @*@Ajax.ActionLink("Loan Details", "Step6", "SetupProcess", null, new AjaxOptions
                                       {
                                           OnSuccess = "onAjaxSuccess",
                                           OnFailure = "handleErrorMsg",

                                           HttpMethod = "GET",
                                           InsertionMode = InsertionMode.Replace,
                                           UpdateTargetId = "changeContainer",
                                           LoadingElementId = "loadingDiv"
                                       }, new
                                       {
                                           @class = "tab 3",
                                           data_toggle =

                        "tooltip",
                                           title = "Loan Details"
                                       })*@
                </li>
                @*<li>
                    <div class="right_arrw 7"></div>
                    <a href="Step7">Interest</a>*@
                    @*@Ajax.ActionLink("Interest", "Step7", "SetupProcess", null, new AjaxOptions
                                       {
                                           OnSuccess = "onAjaxSuccess",
                                           OnFailure = "handleErrorMsg",
                                           HttpMethod =

                        "GET",
                                           InsertionMode = InsertionMode.Replace,
                                           UpdateTargetId = "changeContainer",
                                           LoadingElementId = "loadingDiv"
                                       }, new
                                       {
                                           @class = "tab 3",
                                           data_toggle = "tooltip",
                                           title =

                        "Interest"
                                       })*@
                @*</li>*@
                <li>
                    <div class="right_arrw 8"></div>
                    <a href="Step8">Fees</a>
                    @*@Ajax.ActionLink("Fees", "Step8", "SetupProcess", null, new AjaxOptions
                                       {
                                           OnSuccess = "onAjaxSuccess",
                                           OnFailure = "handleErrorMsg",
                                           HttpMethod =

                        "GET",
                                           InsertionMode = InsertionMode.Replace,
                                           UpdateTargetId = "changeContainer",
                                           LoadingElementId = "loadingDiv"
                                       }, new
                                       {
                                           @class = "tab 3",
                                           data_toggle = "tooltip",
                                           title =

                        "Fees"
                                       })*@
                </li>
                <li>
                    <div class="right_arrw 9"></div>
                    <a href="Step9">Title</a>
                    @*@Ajax.ActionLink("Title", "Step9", "SetupProcess", null, new AjaxOptions
                                       {
                                           OnSuccess = "onAjaxSuccess",
                                           OnFailure = "handleErrorMsg",
                                           HttpMethod =

                        "GET",
                                           InsertionMode = InsertionMode.Replace,
                                           UpdateTargetId = "changeContainer",
                                           LoadingElementId = "loadingDiv"
                                       }, new
                                       {
                                           @class = "tab 3",
                                           data_toggle = "tooltip",
                                           title =

                        "Title"
                                       })*@
                </li>
                <li>
                    <div class="right_arrw 10"></div>
                    <a href="Step10">Curtailments</a>
                    @*@Ajax.ActionLink("Curtailments", "Step10", "SetupProcess", null, new AjaxOptions
                                       {
                                           OnSuccess = "onAjaxSuccess",
                                           OnFailure = "handleErrorMsg",

                                           HttpMethod = "GET",
                                           InsertionMode = InsertionMode.Replace,
                                           UpdateTargetId = "changeContainer",
                                           LoadingElementId = "loadingDiv"
                                       }, new
                                       {
                                           @class = "tab 3",
                                           data_toggle =

                        "tooltip",
                                           title = "Curtailments"
                                       })*@
                </li>
            </ul>
        </li>

        </ul>
    </div>
</nav>




<script>

   // $('a').tooltip();

    // Switcheroo!


    $(".right_arrw").prepend('<img id="theImg" src="/Images/lockIco.png" />')
    $(".right_arrw").closest('li').css("pointer-events", "none").css("cursor", "default");

</script>

