
@{
    ViewBag.Title = "Step6";
    Layout = "~/Views/Shared/_login.cshtml";
}
<link href="~/Content/steps.css" rel="stylesheet" />

<div class="main-container">
    <div class="container">


        <div class="row bs-wizard" style="border-bottom:0;">

            <div class="col-xs-2 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Step 1</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>

            </div>

            <div class="col-xs-2 bs-wizard-step complete">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">Step 2</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>

            </div>

            <div class="col-xs-2 bs-wizard-step complete">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">Step 3</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>
                <span class="bs-wizard-dot"></span>
            </div>

            <div class="col-xs-2 bs-wizard-step complete">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">Step 4</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>
                <span class="bs-wizard-dot"></span>
            </div>

            <div class="col-xs-2 bs-wizard-step complete">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">Step 5</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>
                <span class="bs-wizard-dot"></span>
            </div>

            <div class="col-xs-2 bs-wizard-step active">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">Step 6</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <span class="bs-wizard-dot"></span>
                <span class="bs-wizard-dot"></span>
            </div>

        </div>

    </div>


    <div class="row">



        <div class="container body-content">

            <h2>Loan Setup</h2>

            

            

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                       
                        
                        
                       
                           
                        

                       

                        <div class="form-group">
                            <div>

                                <nav>
                                    <ul class="pager">
                                        <li>
                                            <input type="submit" value="Next" class="btn btn-primary m-b" style="float:right" />
                                        </li>

                                        

                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                }

                <div>

                </div>

            
        </div>


    </div>
</div>











<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


