
@{
    ViewBag.Title = "Step3help";
}

<div class="right_panel_box" id="simplediv">
    <h2>Help</h2>
    <h4>Step 3 of 9 - Create User</h4>
    <p>You can skip this page and create additional users later from your dashboard. If you would like to create additional users now you will first need to assign them a role.
Super Admin is the top level which has full control and can manage the entire program including creating branches, loans and all level of users. Admin has control of a single branch with full access to everything within that branch including creating loans and users.<br><br />
Any Super Admin or Admin will be able to create additional users with more restricted access to the program from their dashboard once the setup process is complete.</p>
</div>

