
@{
    ViewBag.Title = "Step8help";
}

<div class="right_panel_box" id="simplediv">
    <h4 style="text-align:justify">Step 8 of 10 - Fees</h4>
    <p>This page allows you to specify certain fees associated with the loan.</p>
</div>

