
@{
    ViewBag.Title = "Step6";
    
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@*<script>
    progress(6);


</script>*@


    <div class="row">



        <div class="container body-content">

            <h2>Loan Setup</h2>

            

            

                @using (Ajax.BeginForm("Step6", "SetupProcess", new AjaxOptions()
                {

                    OnFailure = "handleErrorMsg",
                    HttpMethod = "POST",
                    
                    LoadingElementId = "loadingDiv"
                }, new { id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                       
                        
                        
                       
                           
                        

                       

                        <div class="form-group">
                            <div>

                                <nav>
                                    <ul class="pager">
                                        <li>
                                            <input type="submit" value="Next" class="btn btn-primary m-b" style="float:right" />
                                        </li>

                                        <li>
                                            <input type="button" value="Back" name="subBack" id="btnPreStep6" class="btn btn-primary m-b cancel" style="float: right; margin-left: 10px" />
                                        </li>

                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                }

                <div>

                </div>

            
        </div>


    </div>

<script type="text/javascript">
    $(function () {
        $('#btnPreStep6').click(function () {

            $('#loadingDiv').show();
            $.ajax({
                url: '@Url.Action("step5", "SetupProcess")',
                type: 'GET',
                data: { edit: 1},

                success: function (partialView) {
                    $('#loadingDiv').hide();
                    $('#changeContainer').html(partialView);
                    $('#changeContainer').show();

                },
                error: function (request, status, error) {
                    handleErrorMsg(request.responseText);

                }
            });
        });
    });
</script>


<script>
    $('#clear').click(function () {
        document.getElementsByTagName("form")[0].reset();
    });
</script>