
@{
    ViewBag.Title = "Step6help";
}

<div class="right_panel_box" id="simplediv">
    <h2>Help</h2>
    <h4 style="text-align:justify">Step 6 of 9 - Loan Setup</h4>
    <p>Loan Setup is a 4 page process where you will input the details of the loan.</p>
</div>

