
@{
    ViewBag.Title = "Step6";
    
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@*<script>
    progress(6);


</script>*@


    <div class="row">



        <div class="container body-content">

            <h2>Loan Setup</h2>

            

            

                @using (Ajax.BeginForm("Step6", "SetupProcess", new AjaxOptions()
                {

                    OnFailure = "handleError",
                    HttpMethod = "POST",
                    
                    LoadingElementId = "loadingDiv"
                }, new { id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                       
                        
                        
                       
                           
                        

                       

                        <div class="form-group">
                            <div>

                                <nav>
                                    <ul class="pager">
                                        <li>
                                            <input type="submit" value="Next" class="btn btn-primary m-b" style="float:right" />
                                        </li>

                                        

                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                }

                <div>

                </div>

            
        </div>


    </div>




<script>
    $('#clear').click(function () {
        document.getElementsByTagName("form")[0].reset();
    });
</script>