
@{
    ViewBag.Title = "Step4help";
}

<div class="right_panel_box" id="simplediv">
    <h2>Help</h2>
    <h4 style="text-align:justify">Step 4 of 10 - Create @ViewBag.ThisCompanyType Company</h4>

    @if(ViewBag.ThisCompanyType == "Dealer") {
    <p>Enter the details of the corporate/main branch of the dealership you are financing (if the dealership has more than one branch).
In the next page you will enter details of the branch(es) that you are working with.</p>
    }
    else
    {
        <p>Enter the details of the corporate/main branch of the Lender you are financing (if the Lender has more than one branch).
In the next page you will enter details of the branch(es) that you are working with.</p>
    }
</div>

