
@{
    ViewBag.Title = "Step1help";
}

<div class="right_panel_box" id="simplediv">
    <h2>Help</h2>
    <h4>Step 1 of 9 - Create Company</h4>
    <p>If your company has multiple branches, fill the details of your corporate/main branch on this page. If your company has only one location then fill that information here.<br><br />
        In the next page you will be able enter details of any additional branch(es) where you will be using the program.</p>
</div>

