
<div class="right_panel_box" id="simplediv">
    <h2>Help</h2>
    <h4 style="text-align:justify">Step 9 of 9 - Curtailment</h4>
    <p>This page allows you to specify details for the unit curtailments.</p>
</div>
