
@{
    ViewBag.Title = "Step2help";
}

<div class="right_panel_box" id="simplediv">
    <h2>Help</h2>
    <h4>Step 2 of 10 - Create Branch</h4>
    <p>If your company has only one branch or will be using the program in the main location (with the same details as entered on the Create Company page) you can select the check box. Otherwise fill the details of your first branch on this page.<br><br /> Once you enter one branch you will have the option to enter additional branches now or later (from your dashboard).</p>
</div>

