
@{
    ViewBag.Title = "Step5help";
}

<div class="right_panel_box" id="simplediv">
    <h2>Help</h2>
    <h4 style="text-align:justify">Step 5 of 9 - Create @ViewBag.ThisCompanyType Branch</h4>
    <p>If the @ViewBag.ThisCompanyType company has only one branch (with the same details as entered on the Create @ViewBag.ThisCompanyType Company page) or the main location will be using the program you can select the check box. Otherwise fill the details of the first branch which will be using the program on this page. Once you enter one branch you will have the option to enter additional branches now or later (from your dashboard).</p>
</div>

