
@{
    ViewBag.Title = "Step8help";
}

<div class="right_panel_box" id="simplediv">
    <h2>Help</h2>
    <h4 style="text-align:justify">Step 7 of 9 - Fees</h4>
    <p>This page allows you to specify certain fees associated with the loan.</p>
</div>

