
@{
    ViewBag.Title = "Step9help";
}

<div class="right_panel_box" id="simplediv">
    <h2>Help</h2>
    <h4 style="text-align:justify">Step 9 of 10 - Title</h4>
    <p>This page allows you to specify how the title and purchase documents are managed.</p>
</div>

