
@{
    ViewBag.Title = "Step6";
    Layout = "~/Views/Shared/_SetupProcess.cshtml";
}



<script>
    progress(6);


</script>


    <div class="row">



        <div class="container body-content">

            <h2>Loan Setup</h2>

            

            

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                       
                        
                        
                       
                           
                        

                       

                        <div class="form-group">
                            <div>

                                <nav>
                                    <ul class="pager">
                                        <li>
                                            <input type="submit" value="Next" class="btn btn-primary m-b" style="float:right" />
                                        </li>

                                        

                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                }

                <div>

                </div>

            
        </div>


    </div>












<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


