html, body {
    margin-left: unset;
    margin-right: unset;
    width: auto;
}
.tooltip {
    opacity:1;
    z-index: auto;
    font-family: icomoon !important;
}
h3{
    font-weight: 600;
    margin:unset;
}
h1{
    font-size:30px;
}
.msg-box select{
    color:black;
    font-size:12px;
}
/** {
	margin: 0;
	padding: 0;
    font-size:unset;
    font-family: 'Helvetica Neue','Helvetica', Arial, sans-serif;
    color:unset;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
h1,  h3{
    
    font-family: unset; 
     font-weight: unset; 
     line-height: unset; 
     color: unset; 
     margin-top: unset;
    margin-bottom: unset;

}
      
       */
footer{
    clear:both;
}
 html,body{
           font-size:unset;
           width:unset;
           color:black;
           line-height:unset;
       }
 body{
            background-color:#f2f2f2 !important;
            
            
        }
        .container-fluide{
            clear:both;
            max-width:1024px;
            min-width:900px;
            width:100%;
            margin-right:auto;
            margin-left:auto;
            background:#f2f2f2;
            min-height: 530px;
        }
        header{
            border-top-style: solid;
    border-top-width: 6px;
    border-top-color:#333;
            
        }
        body {
            overflow-x:hidden;
  text-align:center;
  font-family: Georgia, Serif;
  /*//background: #000000;*/
 margin:0px;
}
        .left-box{
            width:45%;
            height:100%;
            float:left;
            /*border-top-style:outset;
            border-right-style:outset;*/
            background: #f2f2f2;
            margin-left: -30px;
              -ms-transform: skew(45deg); /* IE 9 */
    -webkit-transform: skew(45deg); /* Safari */
    transform: skew(45deg); /* Standard syntax */
    /*//background: linear-gradient(to right, red, white, white, red);*/
            
        }
        .common-box {
            
             width:100%;
             height:56px;
             float:left;
             background: #333;
             
        }
        .box{
            padding-top:20px;
            float:left;
            width:574px;
            display:inline;
            margin-left:20px;
        }
        .box>div{
            float:right;
            margin-top:auto;
            margin-bottom:auto;
            text-align:center;
            display:inline;
            margin-left:20px;
            color:white;
             /*margin-top: -8px;*/
        }
        .box>div>span{
                color: #E2DDDD;
               /*font-family:"HelveticaNeue", "Helvetica Neue", "Helvetica", Arial, sans-serif;*/
                font-size:24px;
        }

        .box>div>span>a{
               text-decoration:none;
               color:#E2DDDD ;
               /*font-size:23px;  - asanka*/

                display: inline-flex;
                vertical-align: middle;
                font-size: 16px;
                font-weight:bold;
                padding-right:5px;

        }

        .box>div>span:hover , .box>div>span>a:hover{
                color: white;
                cursor:pointer;
               
                
        }
        .soft-info {
            float:right;
            clear:both;
            width:450px;

             -ms-transform: skew(-45deg); /* IE 9 */
    -webkit-transform: skew(-45deg); /* Safari */
    transform: skew(-45deg);
        }
        .soft-info>h1{
            margin-top:2px;
            color:#2323A0;
            font-family:Tahoma;
            font-weight:bold;
            margin-bottom:2px;
            /*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));*/
    
        }
        .soft-info>small{
           
            font-family:inherit;
            color: #054208;
            font-size: 11px;
    /*text-shadow: 0px 2px 3px #555;*/

        }
        
    .container-child{

        padding: 20px;
        
    }
    .container-child h3{
        padding-bottom:8px;
    }
    .dsh{
        color:white;
        margin:10px;
        background-color:#0086b3;
        height:73px; /*This is for testing*/
        margin-top:14px;
    }
    .fpm>div{
         border-style: solid;
    border-width: 6px;
    border-color:#c2d6d6;
        background-color:white;
        padding-bottom: 8px;
         /*height:150px;*/ /*This is for testing*/
    }

    .fpm{
        clear:both;
        margin:10px;
        background-color:#c2d6d6;
        padding-top:8px
    }

     .md>div{
         border-style: solid;
    border-width: 6px;
    border-color:#e0e0d1;
        background-color:white;
        padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
         /*height:150px;*/ /*This is for testing*/
    }
    .md{
        margin:10px;
        background-color:#e0e0d1;
        padding-top:8px
    }
     .setp>div{
         border-style: solid;
    border-width: 6px;
    border-color:#d9f2e6;
        background-color:white;
        padding-bottom: 8px;
         /*height:150px;*/ /*This is for testing*/
    }
    .setp{
        margin:10px;
        background-color:#d9f2e6;
        padding-top:8px
    }
    .bottom-bar{
        /*height:150px;*/ /*This is for testing*/
    }
     .small-space{
         height:24px;
     }
     .cmd-bar{
          height:294px; /*This is for testing*/
          /*height:352px; for captcha*/
          background-color:#333;
     }
        .clr-prt2 {
            float: right;
            width: 30%;
            height: 100%;
            background-color: #333;
            margin-right: -30px;
            -ms-transform: skew(-45deg); /* IE 9 */
            -webkit-transform: skew(-45deg); /* Safari */
            transform: skew(-45deg); /* Standard syntax */
        }
     .clr-prt1{
         float:left;
          width:30%;
         height:100%;
         background-color:#2277AA;
                     margin-left: -30px;
              -ms-transform: skew(45deg); /* IE 9 */
    -webkit-transform: skew(45deg); /* Safari */
    transform: skew(45deg); /* Standard syntax */
     }
     .cmd-skew-bar{
         float:left;
         width:52%;
         height:100%;
         background-color:#2277AA;
                     margin-left: -100px;
              -ms-transform: skew(-20deg); /* IE 9 */
    -webkit-transform: skew(-20deg); /* Safari */
    transform: skew(-20deg); /* Standard syntax */
     }
 .img-name-panel{
     float:left;
     width:11%;
     padding:4px;
      /*height:100%;*/
      padding-left: 4%;
 }

  .pos-name-panel{
      text-align:left;
     float:left;
     width:19%;
    
      height:100%;
      /*padding-left: 4%;*/
 }
  .pos-name-panel>div {
    /*position: relative;
    top: 15px;*/
    margin-top:9px;
}

 .img-circle {
	border-radius: 50%;

    border-style:double;
    border-color:#CCC487;
}
.img-name-panel>div>div {
    margin:auto;
    display:block;
}
.img-name-panel>div>div>div {
    margin:auto;
    display:inline-block;

    /*background:#E8E8DE;*/
    /*border-style: groove;*/
    /*padding: 10px;*/
}

.img-name-panel>div {
    padding:8%;
    margin-top:auto;
    margin-bottom:auto;
    display:block;
    float: left;
    /*padding-top: 15%;*/
}
.dsh-name {
    width: 40%;
    height: 100%;
    float: left;
}

.signout>span>a>strong{
    display:table-cell;
    vertical-align:middle;
    font-size: 18px;
}

.signout>span>a>span{
    display:table-cell;vertical-align:middle;
    font-size: 23px;
}

.signout{
    /*border-radius: 15px;
   padding: 5px;
    background-color: #635A5A;
    padding-bottom: 0px;*/
}

.cmp-name-panel{
    
    text-align:left;
    width:15%;
    float:left;
    /*height:100%;*/
}

.cmp-name-panel>div{
    /*position: relative;
    top: 15px;*/
        margin-top: 9px;
}

.tooltip {
    position: relative;
    display: inline;
   
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    /*width:auto;*/
    font-family: "Times New Roman", Georgia, Serif;
    letter-spacing: 1px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /*padding: 5px 0;*/
    padding:8px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    /*left:144%;*/
    margin-left: -60px;
    font-size:12px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .ved{
    /*width:auto;*/
    left: 50%;
}

.footer-info{
    float:right;
    height:100%;
    width: 350px;
    padding:10px;
    padding-top:20px;
    -ms-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    text-align:left;
}
.footer-info> h3{
    font-size: 31px;
    

}

.footer-info> div{
    
    text-align:left;
    font-weight:bold;
    margin-top:20%;
}
.footer-info> div >div{
    
    text-align:left;
    margin-top:10%;
}

.hor-sp{
    margin-top:10px;
}

.msg-box{
    padding:20px;
    padding-bottom:0px;
    padding-top:20px;
    font-weight:bold;
    text-align:left;
    color:white;
    float:left;
    width:470px;
    height:100%;
    padding-left:5%;
}

.msg-box>div{

    margin-bottom:5px;
}



   .select-style {
      display:inline-block;
    padding-top: 0px;
    margin-top: 10px;
    border: 1px solid #ccc;
    width: 240px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("../Images/arrowdown.gif") no-repeat 97% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

textarea {
    margin-top:10px;
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    /*background-color: #f8f8f8;*/
    resize: none;
    color:black;
}



.labels{
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 5px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5 {
    background-color: #555555;
    color: white;
    border: 2px solid white;
}

.button5:hover {
    background-color: white;
    color: #555555;
    border: 2px solid  #555555;
    
}
/*.fpm>div>div{
    float:left;
}*/
.big-button {
    margin:8px;
    position: relative;
    background-color: #465DAB ;
    border: none;
    font-size: 13px;
    color: #FFFFFF;
    /*padding: 10px;*/
    padding-bottom:5px;
    width: 110px;
    height: 110px;
    text-align: center;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.big-button > [class^="icon-"]{
/*padding :px;*/
/*padding-top:20px;*/
width:100%;
font-size:32px;
display: inline-block;
}

.big-button .txt{
    width:100%;
    text-align:center;
        padding-top: 22px;
    /* position: relative; */
    /* top: 20%; */
    display: inline-block;
}
.big-button:hover{

    background-color: darkgreen;
    /*color: #1ba1e2;*/
    /*border: 2px solid  #1ba1e2;*/
}
.select-loan{
    width:100%;
    margin-top:10px;
}

.nrm-button{
  /*display: inline-block;
  padding: 10px 25px;
  font-size: 15px;*/
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  /*background-color: #4CAF50;
  border: none;
  border-radius: 15px;*/

 
  
}


.select-loan>div>span{
    display:inline-block;
    width:30%
}
.select-loan>div{
    margin-bottom:4px;
    margin-top:4px;
}
/*.nrm-button:hover {background-color: #3e8e41}*/

/*.nrm-button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}*/

.pkg{
    padding:10px
}
.pkg table {
    border-collapse: collapse;
    width: 100%;
    
}

.pkg th, .pkg td {
    text-align: center;
    padding: 8px;
}

.pkg td{
    color: black;
    /*border: 2px solid  #4CAF50;*/

}

.show-logout-popup{
    text-decoration:none !important;
    color:#e2dddd;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 22px;
    font-weight:bold;
}

.show-logout-popup:hover{
    
    color:white;
}

.show-logout-popup:after {
    font-family:icomoon !important;
    content: "\e901";
    margin-left: 4px;
    font-size:23px;
}




/*.pkg th:first-child {
    width:20%;
    color: black;
    border: 2px solid  white;
    background-color: white;
    border-right: 2px solid  #4CAF50;

}*/

.pkg td:first-child {
   font-weight:bold;
}

.signoutsapan 
{
    display: table-cell;
    vertical-align: middle;
    font-size: 18px !important;
}

.text-danger {
	color: #a94442;
    font-size: 12px;
}

body {
    font-family: 'Helvetica Neue','Helvetica', Arial, sans-serif;
}

input[type='radio']{
        height:16px;
        width:16px;
    }

.form-horizontal .control-label {

        font-size: 14px;
    }

.used{
     background-color:#d9d9d9;
}

.avail{
    background-color:#ecffe6;
}

.pkg th{
    width:25%;
}


.a_demo_three {
    border-width: 0px;
    display: inline-block;
    width: 252px !important;
    margin-top: 8px;
    margin-bottom: 8px;
    height:36px;
    text-decoration:none;
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	border-left:solid 1px #2ab7ec;
	margin-left:45px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_three:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.a_demo_three::before {
    

font-family: 'icomoon' !important;
	background-color:#2561b4;
	
	width:40px;
	max-height:40px;
	height:36px;

	position:absolute;
	display:block;
	padding-top:8px;
	top:0px;
	left:-36px;
	font-size:20px;
	font-weight:bold;
	color:#8fd1ea;
	text-shadow:1px 1px 0px #07526e;
	border-right:solid 1px #07526e;
	background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -o-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(10,94,125)),
	color-stop(1, rgb(14,139,184))
	);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
}

.a_demo_three:active::before {
	top:-3px;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
}


.sel-loan{
    
     box-shadow: inset 0px 1px 0px #f2f2f2, 0px 5px 0px 0px #187d4a, 0px 10px 5px #999 !important;
  -webkit-box-shadow: inset 0px 1px 0px #3ad09f, 0px 5px 0px 0px #148c6b, 0px 10px 5px #999 !important;
      -moz-box-shadow: inset 0px 1px 0px #3ad09f, 0px 5px 0px 0px #148c6b, 0px 10px 5px #999 !important;
    -o-box-shadow: inset 0px 1px 0px #3ad09f, 0px 5px 0px 0px #148c6b, 0px 10px 5px #999 !important;

    border-left: solid 1px #19c346;

     background-image: linear-gradient(bottom, rgb(44, 193, 131) 0%, rgb(49, 228, 129) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44, 193, 131) 0%, rgb(49, 228, 129) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44, 193, 131) 0%, rgb(49, 228, 129) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44, 193, 131) 0%, rgb(49, 228, 129) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44, 193, 131) 0%, rgb(49, 228, 129) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44, 193, 131)),
	color-stop(1, rgb(49, 228, 129))
	);
}


.sel-loan::before {
    
    color: rgb(137, 232, 197);
    text-shadow: 1px 1px 0px #076e43;
    border-right: solid 1px #076e1d;
font-family: 'icomoon' !important;
	
	background-image: linear-gradient(bottom, rgb(10, 125, 120) 0%, rgb(14, 184, 121)) 100%);
	background-image: -o-linear-gradient(bottom, rgb(10, 125, 120) 0%, rgb(14, 184, 121) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(10, 125, 120) 0%, rgb(14, 184, 121) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(10, 125, 120) 0%, rgb(14, 184, 121) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(10, 125, 120) 0%, rgb(14, 184, 121) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(10, 125, 120)),
	color-stop(1, rgb(14, 184, 121))
	);

}


.sel-loan:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(44, 193, 131) 0%, rgb(49, 228, 129) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44, 193, 131) 0%, rgb(49, 228, 129) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44, 193, 131) 0%, rgb(49, 228, 129) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44, 193, 131) 0%, rgb(49, 228, 129) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44, 193, 131) 0%, rgb(49, 228, 129) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44, 193, 131)),
	color-stop(1, rgb(49, 228, 129))
	);
	-webkit-box-shadow: inset 0px 1px 0px #3ad09f, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #3ad09f, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #3ad09f, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #3ad09f, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}


.warn-button{
    
     box-shadow: inset 0px 1px 0px #ec2a57, 0px 5px 0px 0px #851525, 0px 10px 5px #999 !important;
  -webkit-box-shadow: inset 0px 1px 0px #ec2a57, 0px 5px 0px 0px #851525, 0px 10px 5px #999 !important;
      -moz-box-shadow: inset 0px 1px 0px #ec2a57, 0px 5px 0px 0px #851525, 0px 10px 5px #999 !important;
    -o-box-shadow: inset 0px 1px 0px #ec2a57, 0px 5px 0px 0px #851525, 0px 10px 5px #999 !important;

    border-left: solid 1px #19c346;

     background-image: linear-gradient(bottom, rgb(202, 44, 95) 0%, rgb(229, 62, 85) 100%);
	background-image: -o-linear-gradient(bottom, rgb(202, 44, 95) 0%, rgb(229, 62, 85) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(202, 44, 95) 0%, rgb(229, 62, 85) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(202, 44, 95) 0%, rgb(229, 62, 85) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(202, 44, 95) 0%, rgb(229, 62, 85) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(202, 44, 95)),
	color-stop(1, rgb(229, 62, 85))
	);
}


.warn-button::before {
    color: rgb(241, 179, 190);
    text-shadow: 1px 1px 0px #6e0715;
    border-right: solid 1px #6e0740;

font-family: 'icomoon' !important;
	
	background-image: linear-gradient(bottom, rgb(125, 10, 31) 0%, rgb(184, 14, 53)) 100%);
	background-image: -o-linear-gradient(bottom, rgb(125, 10, 31) 0%, rgb(184, 14, 53) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(125, 10, 31) 0%, rgb(184, 14, 53) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(125, 10, 31) 0%, rgb(184, 14, 53) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(125, 10, 31) 0%, rgb(184, 14, 53) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(125, 10, 31)),
	color-stop(1, rgb(184, 14, 53))
	);

}


.warn-button:active {
	top:3px;
	 background-image: linear-gradient(bottom, rgb(202, 44, 95) 0%, rgb(229, 62, 85) 100%);
	background-image: -o-linear-gradient(bottom, rgb(202, 44, 95) 0%, rgb(229, 62, 85) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(202, 44, 95) 0%, rgb(229, 62, 85) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(202, 44, 95) 0%, rgb(229, 62, 85) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(202, 44, 95) 0%, rgb(229, 62, 85) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(202, 44, 95)),
	color-stop(1, rgb(229, 62, 85))
	);
	
     box-shadow: inset 0px 1px 0px #ec2a57, 0px 5px 0px 0px #851525, 0px 10px 5px #999 !important;
  -webkit-box-shadow: inset 0px 1px 0px #ec2a57, 0px 5px 0px 0px #851525, 0px 10px 5px #999 !important;
      -moz-box-shadow: inset 0px 1px 0px #ec2a57, 0px 5px 0px 0px #851525, 0px 10px 5px #999 !important;
    -o-box-shadow: inset 0px 1px 0px #ec2a57, 0px 5px 0px 0px #851525, 0px 10px 5px #999 !important;
}