.middle-box text-center loginscreen animated fadeInDown step {
        max-width: 700px;
        width: 700px;
    }

.loginscreen.middle-box{
    max-width: 700px;
    width: 700px;
}

.main-container{
        margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    padding-top: 40px;

}