
#successLabel{
    color:forestgreen;
}
#errorLabel{
    color:orangered;
}



.col-sm-2 {
    width: auto;
}

.col-sm-10{
    float:none;
}

.form-control, .single-line {
    margin-top:12px;
}

#noResult{
    color:red;
    text-align:center;
}
.col-xs-8{
    float:right;
}

.col-xs-4{
    float:right;
}
.form-group {
    margin-bottom: 7px;
}

/*step 8*/
.col-xs-8.no {
    width:80.667%;
}

.col-xs-4.text {
    width: 39.333%;
}

.col-xs-10{
    float:left;
}

.col-xs-10.text {
    width: 39.333%;
}

.col-sm-2.add {
  padding-top: 21px;
}

.btn.btn-warning.option{
    cursor:auto;
    padding:unset;
    font-size:12px;

}