
@model BankLoanSystem.Models.DashBoard

@{
    ViewBag.Title = "EmployeeDashBoard";
}

<h2>EmployeeDashBoard</h2><br /><br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ActionLink("Create Company", "SearchUsers", "DashBoard", new { id = Model.userId, type = 7 }, null)
    </div>
}

